/* Importar los colores generados por Matugen */
@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 17px;
    border: none;
    font-weight: 500;
    min-height: 0;
}

/* Fondo principal de la barra */
window#waybar{
    background: transparent;
}

window#waybar > box {
	padding: 8px 16px;
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > *
{
	color: @on_surface;
	margin-right: 8px;
	background: rgba(0.0, 0.0, 0.0, 0.7);
	padding: 6px 6px;
	border-radius: 10px;
	min-width: 30px;
}
/* --- Módulos Principales --- */
/* --- Workspaces --- */
#workspaces button {
    background: @surface_container;
    color: @on_surface;
    margin: 0 4px;
    border-radius: 9px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

#workspaces button.empty {
    opacity: 0.5;
}



#workspaces button:hover {
    background: @surface_container_high;
    border: 1px solid white;
    box-shadow: none;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    font-weight: 700;
}

/* Con notificaciones sin leer */
#custom-notification.notification {
    color: @primary;
}

/* No molestar activo, sin notificaciones */
#custom-notification.dnd-none {
    color: @error;
}

/* No molestar activo, con notificaciones pendientes */
#custom-notification.dnd-notification {
    color: @primary;
}
